*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header y footer */
#stick{
    position: sticky;
    top: 1rem;
}
#header1{
    padding: 10px 0;
    background-color: rgba(23, 181, 230, 255);
    color: white;
}
#header1>ul>div{
    display: flex;
    flex-flow: row wrap;
}    
#header1>ul{
    width: 90%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#info{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#info>li{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}
#header_RRSS{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.RRSS{
    width: 25px;
}
img{
    max-width: 100%;
}
nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block-end: 1px solid black;
    opacity:90%;
}
#logo{
    width: 20%;
}
nav ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav ul a{
    color: black;
    font-size: 22px;
    text-decoration: none;
}
footer{
    background-color: rgba(28, 28, 28, 0.908);
}
#f_sct_1{
    padding: 2% 0 2% 0;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;

}
#f_sct_1>div{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
}
#f_sct_1>div>ul>li>a{
    text-decoration: none;
    color: whitesmoke;
}
#f_sct_1>div>ul>li{
    width: 100%;
}
#f_sct_1>div>h2{
    font-size: x-large;
    margin-bottom: 5%;
    border-block-end: 1px solid rgba(128, 128, 128, 0.67);
}
#f_sct_1_ct>ul{
    list-style: none;
}
#f_sct_1_ct>a{
    text-decoration: none;
    color: white;
    background-color:rgba(23, 181, 230, 255);
    padding: 2%;
    margin: 1%;
}
#f_sct_1_img>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#f_sct_2{
    background-color: rgba(16, 15, 15, 0.622);
    
}
#f_sct_2>div{
    width: 90%;
    margin: auto;
    padding: 1% 0  1% 0;
    display: flex;
    justify-content: space-between;
    color: rgb(161, 155, 155);
    align-items: center;
}
#f_sct_3{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#f_sct_3>img{
    width: 50%;
}
/* contacto */
#fondo-contacto{
    background-image: url(./../IMAGENES/constru.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
    color: whitesmoke;
    font-size: xx-large;
}
#contact>h2{
    color: rgb(123, 200, 245);
    font-size:medium;
    display: flex;
    justify-content: start;
    margin: 2% 0 2% 0;
}
#contact>h3{
    font-size: xx-large;
    border-block-end: 1px solid rgba(128, 128, 128, 0.67);

}
#fon_cont_2{
    /*background-image: ;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact{
    margin: 2% 0% 2% 0%;  
    background-color: white;
    padding: 1%;
    border: 1px solid rgba(128, 128, 128, 0.67) ;
    width: 30%;
    border-radius: 15px;
}
main form{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-flow: wrap column;
}
main input{
    background-color: rgba(128, 128, 128, 0.363);
    margin: 2px;
    padding: 1%;
    border: 0;
    border-radius: 5px;

}
main form  input[type=text]{
    width: 50%;
}
main form  input[type=tel]{
    width: 50%;
}
main form  input[type=textarea]{
    width: 60%;
    padding-bottom: 7%;
}
main form input[type=submit]{
    width: 15%;
    background-color: rgb(123, 200, 245);
}
#fon_cont_3>h2{
    color: rgb(123, 200, 245);
    font-size: x-large;
}
#fon_cont_3>h3{
    color: whitesmoke;
    font-size: xx-large;
    margin:1% 0 3% 0;
}
#fon_cont_3 h4{
    font-size: large;
}
#fon_cont_3{
    background-image: url(./../IMAGENES/sl-servicios.jpg);
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#fon_cont_3>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap row;    
}
#fon_cont_3>div>article{
    border: 0;
    width: 25vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 10px;
}
#fon_cont_3>div>article>p{
    margin-top: 1%;
}
#cont_4{
    background-color:rgb(123, 200, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
#cont_4>a{
    color: whitesmoke;
    font-size: xx-large;
    text-decoration: none;
}
/* Inicio */

/* servicios */
/* nosotros */
#Nstr_background{
    background-image: url(./../IMAGENES/Nosotros/Nostros_sct_1.jpg);
    background-size: cover ;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    color: whitesmoke;
}
#Nstr_background>h2{
    font-size: 2rem;
}
#Nstr_background>h3{
    font-size: 4rem;
}
#Nstr_info{
    background-color: whitesmoke ;
    background-size: cover;
}
#Nstr_info>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}
#Nstr_info>div>div{
    display: flex;
    flex-direction: row;
}
#Nstr_info h2{
    margin: 2% 0 1% 0;
    font-size: 2rem;
    color: rgba(23, 181, 230, 255);
}
#Nstr_info p{
    margin: 1% 0 1% 0 ;
    width: 90%;
    font-size: large;
}
.Nstr_info_image{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
#sct_nstr_3{
    width: 90%;
    margin: auto;
}
#sct_nstr_3>ul{
    margin-top: 3%;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.sct_nstr_3_img{
    width: 20vw;
}
#sct_nstr_3>div{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#q_f>div{
    width: 30vw;
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
}
#q_f>div>h2{
    font-size: 3rem;
    text-align: center;
}
#q_f{
    width: 60vw;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#q_f>ul{
    width: 30vw;
    list-style:upper-roman;
    display: flex;
    flex-flow: column wrap;
    padding-left: 3%;
    margin-top: 2vw;
}
#q_f>ul>li{
    margin-bottom: 3%;
}
#q_f>ul>li>a{
    text-decoration: 0;
    color: black;
}
#q_f>div>a{
    text-decoration: none;
    color: white;
    background-color:rgba(23, 181, 230, 255);
    padding: 1% 2%;
    margin: 30%;
    font-size: 2rem;
    width: 31%;
}

/* proyectos */

